
.hidden{
	display:none;
}

html {
  scroll-behavior: smooth;
}

body{
  background-color: black;
}

p, h1, h2, h3{
  color: lightblue;
}

h1, h3, h2, a{
  font-family: 'Charmonman', cursive, Arial Helvetica, sans-serif;
}

p{
  font-family: 'Niconne', cursive, Arial, Helvetica, sans-serif;
  font-size: 25px;
}

a{
  font-size: 35px;
}

h1, h3, h2{
  text-align: center;
}

h2{
  font-size: 50px;
}

/* boxhelper for prototyping */
.boxHelper {
  color: #fff;
  background: #000;
  text-align: center;
	height:100px;
	width:100%;
}


/* hamburger css */
.topbar-center-logo {
  background: Black;
}

.topbar-center-logo .menu {
  background: Black;
}

.topbar-center-logo .menu a {
  color: lightblue;
}

.topbar-center-logo .top-bar-center {
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

@media screen and (max-width: 39.9375em) {
  .topbar-center-logo .top-bar-center {
    display: none;
  }
}

.topbar-center-logo-mobile {
  background: Black;
}

.topbar-center-logo-mobile .menu-icon {
  vertical-align: text-top;
}


/* layout */

.footer-container{
    background-color: #252525;
}

/* main header image */

#mainGreeting{
  background: url(../images/crystalwelcome0001.tif;
  padding-bottom: 400px;
  padding-top: 400px;
  text-align: center;
}

@media only screen and (max-width: 720px) {
   #mainGreeting{
       background: url(../images/header_mobile.png);
   }
}
@media only screen and (min-width: 721px) {
   #mainGreeting{
       font-size: 100px;
   }
}

/* about */

.about-container{


}

@media only screen and (min-width: 720px) {
  #description{
    font-size: 25px;  
  }

}
@media only screen and (min-width: 720px) {
  #info{
  margin-top: 200px;
  margin-bottom: 100px;
  }
}

#info{
  margin-top: 100px;
  margin-bottom: 50px;
  }


#mePhoto{
  height:90%;
}

.about-text{
  font-size: 12px;
}



/* skills */

.skills-container{
  margin-top:1em;
}

.skills-header{
margin-bottom: 100px;
}

#ps{
  margin-bottom: 100px;
}

#ae{
  margin-bottom: 100px;
}

/* gallery */

@media only screen and (min-width: 721px) {
  #Gallery{
  margin-top: 200px;
  margin-bottom: 100px;
  }
}

#Gallery{
  margin-top: 100px;
  margin-bottom: 50px;
  }

/*LightBox css*/

.overlay {
  display: none;
  position: absolute;
  z-index: 10;
  background: rgba(0,0,0,.8);
  top: 0;
  width: 100%;
  height: 100%; 
  margin: 0;
}
  
.bigPicture {
    background: white;
    border-radius: 5px; 
    width: 600px;
    margin: 100px auto;
    padding: 10px 10px 30px;
}
  

    
.photoTitle {
      font-family: Arial;
      margin-top: 1em;
      text-align: left;
}
  
  .close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    font-size: 20px;
    color: lightblue;
    display: block;
    cursor: pointer;
    font-family: Arial;
  }


.gallery-header{

}

.pics{
  margin-top: 50px;
  margin-bottom: 50px;
}

.gallery{
  margin-top: 70px;
  margin-bottom: 70px;
}

.gallery img{
  transition: 1s;
  padding: 15px;
}

.gallery img:hover{
  transform: scale(1.1);
}




/*video*/

@media only screen and (min-width: 721px) {
  #Video{
  margin-top: 200px;
  margin-bottom: 100px;
  }
}

#Video{
  margin-top: 100px;
  margin-bottom: 50px;
  }


.video-container{

}

.video-header{

}

/*contact*/

@media only screen and (min-width: 720px) {
  #Contact{
  margin-top: 200px;
  margin-bottom: 100px;
  }
}

#Contact{
  margin-top: 100px;
  margin-bottom: 50px;
  }

.contact-container{

}

#contactMe{
  margin-bottom: 100px;
}

textarea{
  height: 150px;
}

.contact-header{

}


.contact-form{
  margin-bottom: 100px;
}

#submitButton{
  font-size: 50px;
  color: lightblue;
  background: #252525;
  padding-left: -100px;
  padding-right: -100px;
}

/*footer*/

#backTop{
  font-size: 50px;
  color: lightblue;
}

.footer-container{
  padding-bottom: 15px;
  background: #252525;
}

#copyright{
  margin-top: 100px;
}
